/*
div .option-bar{
  text-align: center;
  width: 25%;
} */
div .infobox{
  text-align: left;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}
div .infobox div {
  margin-bottom: 100px;
  text-align: right;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
}

div .infobox div button {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 7px;
  margin: 10px;
}

h3 {
  font-size: 22px;

}
div .canvas-container{
  width: 75%;
  margin-left: 20px;
}
body{
  background-color: lightgrey;
  font-family: 'PT Sans', sans-serif;
}

.pick-button{
  display: inline-block;
}
h3, h2{
  margin: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

h3{
  margin: 0 auto;
}

.slidecontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

#myRange {
  width: 50%;
}
body {
  background-image: url("space_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html {
  height: 100%;
  color: white;
}

.top-bar{
  display: flex;
  justify-content: space-around;
}
i{
  font-size: 45px;
  color: white;
  margin-right: 15px;
}
#center-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  margin: 0 auto;
}

h3 .curr-year {
  margin: 0 auto;
  text-align: center;
}
